= form_tag 'https://anondesign.wufoo.com/forms/wpg4mdc0v6hehk/#public', method: 'post', data: { parsley_validate: true } do

  = label_tag :Field1, caption: 'What is your name? *'
  = text_field_tag :Field1, required: true, data: { parsley_error_message: "I'm sorry, I didn't catch your name?" }

  = label_tag :Field3, caption: 'What is your email address? *'
  = email_field_tag :Field3, required: true, data: { parsley_error_message: "Don't worry, we will not use your email address for anything other than getting in touch with you." }

  = label_tag :Field4, caption: 'What is your phone number?'
  = telephone_field_tag :Field4, class: 'mask-phone'

  = label_tag :Field5, caption: 'What can we help you with? *'
  = text_area_tag :Field5, required: true, rows: 3, data: { parsley_error_message: "Don't be shy! This is a great starting point to our conversation and gives us an idea of what you are interested in." }

  = submit_tag 'Send Message'
  = hidden_field_tag 'idstamp', value: 'KWCNxXkUF6sbpQStuPonfn0dFA9vv5V9NCi3Gxmfw3A='
